/* div {
    border: 1px solid red;
}
.team1 {
    color: blue;
}
.borderClass {
    border: 1px solid yellowgreen;
}
img {
    margin-top: 20px;
}
.blueClass {
    color: blue;
}
.greenClass {
    color: green;
}
.redClass {
    color: red;
} */