h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
.second input[type=checkbox] {
  display: none;
}
.second label {
  display: block;
  margin: 5px 0;
}
.second label[for=type1]::before,
.second label[for=type2]::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}
.second label[for=type1]::before {
  background: url(./images/checkbox-01.png) left center no-repeat;
}
.second label[for=type2]::before {
  background: url(./images/checkbox-02.png) left center no-repeat;
}

.second input[id=type1]:checked + label[for=type1]::before {
  background: url(./images/checkbox-01.png) right center no-repeat;
}
.second input[id=type2]:checked + label[for=type2]::before {
  background: url(./images/checkbox-02.png) right center no-repeat;
}